<% title @company.company_name+" - "+ @bout.name %>

<h1><%= @company.company_name %> - <%=@bout.name%></h1><br />
<br />
<p>Utilize os campos abaixo para editar as informações do turno.</p><br />
<br />
<%= render 'form' %>
