<% title @company.company_name+" - "+ @sector.name %>

<h1><%= @company.company_name %> - <%=@sector.name%></h1><br />
<br />
<p>Utilize os campos abaixo para alterar as informações deste setor.</p><br />
<br />
<%= render 'form' %>

