<% title @company.company_name+" - Nova Lista de Chamada" %>

<h1><%= @company.company_name+" - Nova Lista de Chamada" %></h1><br />
<br />
<p>Preencha os campos abaixo para criar uma lista de chamada.</p><br />
<br />
<%= render 'form' %>