<%content_for :title do%>
	Dicas :: WellnessFit – O Bem estar em sua melhor forma | Ginástica Laboral e Fisioterapia Corporativa
<%end%>
<%content_for :head do %>
	<%#= stylesheet_link_tag "cases" %>
	<%#=javascript_include_tag "showcases.js"%>
<%end%>
<div id="Content">
	<div id="Box_left">
		<%=image_tag ("img_dicas.png", :class=>"Img_align") %>
	</div><!-- Box_left end -->
	<div id="Box_right">
		<span class="Breadcrumb"><span class="Breadcrumb"><a href="#">wellness fit</a></span> : <span class="Breadcrumb"><a href="#">notícias</a></span></span>
		<h1 class="Title_internal_box_right">Dicas</h1><br />
		<ul>
			<li class='lista_1'>
				<h2>01/09/2011 - <b>Setembro</b></h2>
				<h3>
				<br>
				O mês de setembro é um dos melhores meses para variar na alimentação. É o fim do inverno e começo da primavera, momento em que o ar ainda está fresco, mas o frio já não é mais tão intenso. É um dos melhores períodos para escolher frutas, legumes e verduras por um preço bom e com ótima qualidade.<br><br>
Aproveite para intensificar suas atividades físicas. De preferência pela manhã, assim o corpo consegue processar melhor cada exercício e sua disposição para começar o dia melhora muito.<br><br>
No cardápio você pode adicionar frutas da época como morango, caju, mamão Havaí, pera, laranja lima, jabuticaba, goiaba e lima da Pérsia. Além de legumes e verduras como beterraba, chuchu, mandioquinha, pimentão, acelga, alcachofra, brócolis, chicória e couve-flor.
				<br>
				</h3>
			</li>
			
		</ul>
	</div><!-- Box_right end -->
	<div class="clear"></div>
</div><!-- Content end -->
