<%content_for :title do%>
	Notícias
<%end%>
<%content_for :head do %>
	<%#= stylesheet_link_tag "cases" %>
	<%#=javascript_include_tag "showcases.js"%>
<%end%>
<div id="Content">
	<div id="Box_left">
		<%=image_tag ("img_dicas.png", :class=>"Img_align") %>
	</div><!-- Box_left end -->
	<div id="Box_right">
		<span class="Breadcrumb"><span class="Breadcrumb"><a href="#">wellness fit</a></span> : <span class="Breadcrumb"><a href="#">notícias</a></span></span>
		<h1 class="Title_internal_box_right">Dicas</h1><br />
		<ul>
			<li class='lista_1'>
				<h2>08/07/2011 - NOME DA DICA</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere condimentum felis, vel luctus massa suscipit nec. Nullam eget augue elit. - <span class='fonte'>Fonte UOL.</span> <span class='ler_mais'><a href='#'>Ler mais</a></span></h3>
			</li>
			<li class='lista_2'>
				<h2>08/07/2011 - NOME DA DICA</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere condimentum felis, vel luctus massa suscipit nec. Nullam eget augue elit. - <span class='fonte'>Fonte UOL.</span> <span class='ler_mais'><a href='#'>Ler mais</a></span></h3>
			</li>
			<li class='lista_1'>
				<h2>08/07/2011 - NOME DA DICA</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere condimentum felis, vel luctus massa suscipit nec. Nullam eget augue elit. - <span class='fonte'>Fonte UOL.</span> <span class='ler_mais'><a href='#'>Ler mais</a></span></h3>
			</li>
			<li class='lista_2'>
				<h2>08/07/2011 - NOME DA DICA</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere condimentum felis, vel luctus massa suscipit nec. Nullam eget augue elit. - <span class='fonte'>Fonte UOL.</span> <span class='ler_mais'><a href='#'>Ler mais</a></span></h3>
			</li>
			<li class='lista_1'>
				<h2>08/07/2011 - NOME DA DICA</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere condimentum felis, vel luctus massa suscipit nec. Nullam eget augue elit. - <span class='fonte'>Fonte UOL.</span> <span class='ler_mais'><a href='#'>Ler mais</a></span></h3>
			</li>
			<li class='lista_2'>
				<h2>08/07/2011 - NOME DA DICA</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere condimentum felis, vel luctus massa suscipit nec. Nullam eget augue elit. - <span class='fonte'>Fonte UOL.</span> <span class='ler_mais'><a href='#'>Ler mais</a></span></h3>
			</li>
			<li class='lista_1'>
				<h2>08/07/2011 - NOME DA DICA</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere condimentum felis, vel luctus massa suscipit nec. Nullam eget augue elit. - <span class='fonte'>Fonte UOL.</span> <span class='ler_mais'><a href='#'>Ler mais</a></span></h3>
			</li>
			<li class='lista_2'>
				<h2>08/07/2011 - NOME DA DICA</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere condimentum felis, vel luctus massa suscipit nec. Nullam eget augue elit. - <span class='fonte'>Fonte UOL.</span> <span class='ler_mais'><a href='#'>Ler mais</a></span></h3>
			</li>
			<li class='lista_1'>
				<h2>08/07/2011 - NOME DA DICA</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere condimentum felis, vel luctus massa suscipit nec. Nullam eget augue elit. - <span class='fonte'>Fonte UOL.</span> <span class='ler_mais'><a href='#'>Ler mais</a></span></h3>
			</li>
		</ul>
	</div><!-- Box_right end -->
	<div class="clear"></div>
</div><!-- Content end -->
