@charset "utf-8";
/* CSS Document */
/* beginning of reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* end of reset*/
html
{
	
	position:relative;
	width:100%;
	height:100%;
	
}
body
{
	
}
#General_bg_top
{
	position:relative;
	background-image:url(../images/bg_home_top.jpg);
	background-repeat:no-repeat;
	background-position:top center;	
	min-width:960px;
	width:100%;
	height:100%;
}
#General_bg_footer
{
	position:relative;
	background-image:url(../images/bg_home_footer.jpg);
	background-repeat:no-repeat;
	background-position:bottom center;	
	width:100%;
	min-height:1000px;
}
#General
{
	position:relative;
	width:960px;
	min-height:1000px;
	margin:auto;
}
	
	#Header
	{
		position:relative;
		width:960px;
		height:488px;
		margin:auto;
	}
		#Logo_field
		{
			position:absolute;
			top:55px;
			left:55px;
			width:150px;
			min-height:25px;
			margin:auto;
			float:right;
		}	
		#Login
		{
			display:block;
			position:relative;
			background-image:url(../images/bg_logintab.png);
			background-repeat:no-repeat;
			background-position:center top;
		    position:relative;
			width:398px;
			min-height:137px;
			margin:auto;
			float:right;
			top:-114px;
		}
		.hide_tab
		{
		}
			#Login_box
			{
				position:relative;
				width:398px;
				min-height:117px;
				margin:auto;
				float:right;
				font-family:Tahoma, Geneva, sans-serif;
				font-weight:normal;
				font-size:12px;
				color:#8b8b8b !important;
			}
				#Box_left_login
				{
					position:relative;
					top:20px;
					left:20px;
					width:109px;
					height:40px;
					float:left;
					top:30px;
				}
					.Input_login
					{
						position:relative;
						background-image:url(../images/bg_input_login.png) !important;
						background:no-repeat;
						background-position:center;
						width:200px;
						height:40px;
					}
					.Input_login input
					{
						width:180px;
						height:28px !important;
						position:relative;
						top:5px;
						left:5px;
						background:none;
						border:none;
						font-family:Tahoma, Geneva, sans-serif;
						font-weight:normal;
						font-size:12px;
						color:#8b8b8b !important;
					}					
				#Box_right_login
				{
					position:relative;										
					width:120px;
					height:40px;
					margin:auto;
					float:left;
					text-align:center;					
					top:35px;
					left:150px;
				}
					#Box_right_login a
					{
						background:none;
						text-decoration:none;
						font-family:Tahoma, Geneva, sans-serif;
						font-weight:normal;
						font-size:12px;
						color:#8b8b8b;
					}				
			#Login_tab
			{
				position:relative;
				width:381px;
				min-height:13px;
				margin:auto;
				float:right;
				text-align:right;
				padding-right:17px;
				background-image:url(../images/bt_logintabarrow_0.png);
				background-repeat:no-repeat;
				background-position:320px 0px;	
				cursor:pointer;				
			}
			.hide_tab #Login_tab
			{
				background-image:url(../images/bt_logintabarrow_1.png);
				background-repeat:no-repeat;
				background-position:320px 0px;				
			}			
						
		#Menu
		{
			position:absolute;
			width:980px;
			height:140px;
			margin:auto;
			top:97px;
			left:0px;
			text-align:center;
		}

				#Menu img
				{
					position:relative;
					top:15px;
					border:none;
				}	
					#Awellnes
					{
						position:relative;
						float:left;
						background-image:url(../images/bt_hm_awellnes.png);
						background-repeat:no-repeat;
						background-position:0px -2px;
						width:153px;
						height:71px;
						top:85px;
						left:-17px;
					}
					#Awellnes:hover
					{
						background-image:url(../images/bt_hm_awellnes.png);
						background-repeat:no-repeat;					
						background-position:0px -74px;
						cursor:pointer;
					}

					#Noticias
					{
						position:relative;
						float:left;
						background-image:url(../images/bt_hm_noticias.png);
						background-repeat:no-repeat;
						background-position:0px 0px;
						width:133px;
						height:64px;
						top:70px;
						left:-17px;
					}
					#Noticias:hover
					{
						background-image:url(../images/bt_hm_noticias.png);
						background-repeat:no-repeat;					
						background-position:0px -64px;
						cursor:pointer;
					}	
					
					#Glaboral
					{
						position:relative;
						float:left;
						background-image:url(../images/bt_hm_glaboral.png);
						background-repeat:no-repeat;
						background-position:0px 0px;
						width:133px;
						height:64px;
						top:60px;
						left:-20px;
					}
					#Glaboral:hover
					{
						background-image:url(../images/bt_hm_glaboral.png);
						background-repeat:no-repeat;					
						background-position:0px -68px;
						cursor:pointer;
					}
						
					#Dicas
					{
						position:relative;
						float:left;
						background-image:url(../images/bt_hm_dicas.png);
						background-repeat:no-repeat;
						background-position:0px 0px;
						width:133px;
						height:64px;
						top:50px;
						left:-25px;
					}
					#Dicas:hover
					{
						background-image:url(../images/bt_hm_dicas.png);
						background-repeat:no-repeat;					
						background-position:0px -66px;
						cursor:pointer;
					}	
					#Links
					{
						position:relative;
						float:left;
						background-image:url(../images/bt_hm_links.png);
						background-repeat:no-repeat;
						background-position:0px 0px;
						width:133px;
						height:64px;
						top:47px;
						left:-28px;
					}
					#Links:hover
					{
						background-image:url(../images/bt_hm_links.png);
						background-repeat:no-repeat;					
						background-position:0px -67px;
						cursor:pointer;
					}					
					#Contato
					{
						position:relative;
						float:left;
						background-image:url(../images/bt_hm_contato.png);
						background-repeat:no-repeat;
						background-position:0px 2px;
						width:133px;
						height:64px;
						top:43px;
						left:-31px;
					}
					#Contato:hover
					{
						background-image:url(../images/bt_hm_contato.png);
						background-repeat:no-repeat;					
						background-position:0px -62px;
						cursor:pointer;
					}		
					#Ciafisio
					{
						position:relative;
						float:left;
						background-image:url(../images/bt_hm_ciafisio.png);
						background-repeat:no-repeat;
						background-position:0px 0px;
						width:133px;
						height:64px;
						top:67px;
						left:0px;
					}
					#Ciafisio:hover
					{
						background-image:url(../images/bt_hm_ciafisio.png);
						background-repeat:no-repeat;					
						background-position:0px -63px;
						cursor:pointer;
					}							
											


	.Align_msaudavel
	{
		position:relative;
		top:250px;
		left:205px;
	}		
	#Content
	{
		position:relative;
		display:inline-block;
		width:960px;
		height:350px;
		margin:auto;
        overflow-x:hidden;	
	}
	#Content a
	{
		color:#0066cc !important;
		text-decoration:none;
	}
	#Box_left
	{
		position:relative;
		float:left;
		display:inline-block;
		width:431px;
		height:450px;
		height:auto;
		padding:5px 17px 5px 17px;
		top:30px;
	}

		#Box_left .Img_align
		{
			position:relative;
			top:-12px;
		}	
	.Item_noticia
	{
		position:relative;
		width:450px;
		min-height:38px;
		height:auto;
	}
		.Data_noticia
		{
			font-family:Tahoma, Geneva, sans-serif;
			font-size:13px;
			font-weight:normal;
			color:#0976bd;
		}
		.Nome_noticia
		{
			font-family:Tahoma, Geneva, sans-serif;
			font-size:13px;
			font-weight:normal;
			color:#0976bd;
		}	
		.Texto_noticia
		{
			font-family:Tahoma, Geneva, sans-serif;
			font-size:11px;
			font-weight:normal;
			color:#0976bd;
		}
		.Leia_mais	
		{
			font-family:Tahoma, Geneva, sans-serif;
			font-size:11px;
			font-weight:bold;
			color:#0976bd;
		}	
		.Veja_todas	
		{
			font-family:Tahoma, Geneva, sans-serif;
			font-size:13px;
			font-weight:bold;
			color:#0976bd;
			text-align:right;
			float:right;
		}
	.Align_fcvcmsm
	{
		position:relative;
		top:28px;
		left:66px;
	}
	#Box_right
	{
		position:relative;
		float:left;
		display:inline-block;
		width:400px;
		height:450px;
		height:auto;
		padding:5px 16px 5px 16px;
		top:35px;
	}
	.tit_oqueelaboral
	{
		position:relative;
		left:170px;
		top:50px;
	}	
	.tit_cliqueaquiedes
	{
		position:relative;
		left:155px;
		top:110px;
	}	
		.Breadcrumb
		{
			font-family:Tahoma, Geneva, sans-serif;
			font-size:12px;
			font-weight:normal;
			color:#afe1ff;
			text-decoration:none;
		}
			.Breadcrumb a
			{
				font-family:Tahoma, Geneva, sans-serif;
				font-size:12px;
				font-weight:normal;
				color:#afe1ff;
				text-decoration:none;
			}				
			.Breadcrumb a:hover
			{
				font-family:Tahoma, Geneva, sans-serif;
				font-size:12px;
				font-weight:normal;
				color:#09F;
				text-decoration:none;
			}		
		.Title_internal_box_right	
		{
			font-family:Tahoma, Geneva, sans-serif;
			font-size:24px;
			font-weight:normal;
			color:#0979be;
		}
		
		.Text_internal_box_right	
		{
			font-family:Tahoma, Geneva, sans-serif;
			font-size:12px;
			font-weight:normal;
			color:#161616;
		}		
#Footer
	{
		position:relative;
		position:relative;
		width:960px;
		height:362px;
		margin:auto;
		clear:both	
	}
		#Footer_content_box_bg	
		{
			position:relative;
			display:block;
			width:999px;	
			height:200px;
			left:-55px;
			top:0px;
		}		
			#Footer_content_box	
			{
				position:relative;
				display:block;
				width:571px;	
				height:33px;
				margin:auto;
				top:10px;
			}	
			#Footer_content_socialnet
			{
				position:relative;
				display:block;
				left:800px;
				top:-35px;					
			}
			.Footer_text
			{
				position:relative;
				font-family:Tahoma, Geneva, sans-serif;
				font-size:9px;
				font-weight:normal;
				color:#6699cc;
				text-align:center;
				top:8px;
				left:10px;
			}
	.clear{ clear:both; width:100%}