<%content_for :title do%>
	Cia Fisio :: WellnessFit – O Bem estar em sua melhor forma | Ginástica Laboral e Fisioterapia Corporativa
<%end%>
<%content_for :head do %>
	<%#= stylesheet_link_tag "cases" %>
	<%#=javascript_include_tag "showcases.js"%>
<%end%>
<div id="Content">
		<span class="Breadcrumb"><span class="Breadcrumb"><%=link_to "wellness fit", root_path%></span> : <span class="Breadcrumb"><a href="#">sobre nós</a></span></span>
		<h1 class="Title_internal_box_right">A Cia Fisio</h1><br />
		<p class="Text_internal_box_right">
			A Cia Fisio é um núcleo da Wellness Fit direcionado à aplicação de atividades que melhorem o ambiente de trabalho por meio de ações ligadas à saúde e bem-estar dos colaboradores de cada empresa.
		</p>	
			<br><br>
			<h2 class="Title_internal_box_right_medium">Visão:</h2><p class="Text_internal_box_right"> Ser referência regional através de nossa determinação, empenho e resultados, buscando sempre um trabalho humano, saudável e honesto.
			</p>
			<br><br>
			<h2 class="Title_internal_box_right_medium">Missão:</h2><p class="Text_internal_box_right"> Promover um mundo melhor utilizando-se de todos os recursos possíveis para que o trabalho se torne uma fonte de prazer aos trabalhadores e uma fonte de orgulho para os empregadores, tudo isso por meio da saúde coorporativa.</p><br><br>
			<h2 class="Title_internal_box_right_medium">Valores:</h2><p class="Text_internal_box_right">   <br>
			&nbsp;&nbsp;&nbsp;•	Profissionalismo;<br>
			&nbsp;&nbsp;&nbsp;•	Respeito;<br>
			&nbsp;&nbsp;&nbsp;•	Ética;<br>
			&nbsp;&nbsp;&nbsp;•	Comprometimento;<br>
			&nbsp;&nbsp;&nbsp;•	Humanidade.<br>
			<br><br>
			</p>
<p class="Text_internal_box_right">
			A Cia Fisio atende a empresas dos mais variados segmentos fornecendo os seguintes serviços:<br><br>
			&nbsp;&nbsp;&nbsp;•	Clínica de fisioterapia na empresa;<br>
			&nbsp;&nbsp;&nbsp;•	Análise ergonômica do trabalho – Segundo MTB –NR 17;<br>
			&nbsp;&nbsp;&nbsp;•	Reintegração dos trabalhadores afastados do trabalho por período prolongado;<br>
			&nbsp;&nbsp;&nbsp;•	Acessibilidade ao portador de deficiência física (trabalhador) ao serviço ambulatorial.
</p>
		
	<div class="clear"></div>
</div><!-- Content end -->
