<%content_for :title do%>
	Clientes
<%end%>
<%content_for :head do %>
	<%#= stylesheet_link_tag "cases" %>
	<%#=javascript_include_tag "showcases.js"%>
<%end%>
<div id="Content_int">
		<span class="Breadcrumb"><span class="Breadcrumb"><%=link_to "wellness fit", root_path%></span> : <span class="Breadcrumb"><a href="#">clientes</a></span></span>
		<h1 class="Title_internal_box_right">Clientes</h1><br />
		<p class="Text_internal_box_right">
			Conheça alguns de nossos clientes:
		</p>
	<div class="clear"></div>
</div><!-- Content end -->