<div id="Content">
	<div id="Box_left">
		<%=image_tag ("img_contato.png", :class=>"Img_align") %>
	</div><!-- Box_left end -->
	<div id="Box_right">
		<span class="Breadcrumb"><span class="Breadcrumb"><%=link_to "wellness fit", root_path%></span> : <span class="Breadcrumb"><a href="#">contatos</a></span></span>
		<h1 class="Title_internal_box_right">Contato</h1><br />
		<p class="Text_internal_box_right">
			Seu email foi enviado com sucesso, em breve entraremos em contato!
		</p>
	</div><!-- Box_right end -->
	<div class="clear"></div>
</div><!-- Content end -->