<%content_for :title do%>
	Sobre Nós :: WellnessFit – O Bem estar em sua melhor forma | Ginástica Laboral e Fisioterapia Corporativa
<%end%>
<%content_for :head do %>
	<%#= stylesheet_link_tag "cases" %>
	<%#=javascript_include_tag "showcases.js"%>
<%end%>
<div id="Content">
	<div id="Box_left">
		<%=image_tag ("img_links.png", :width=>"243", :height=>"479", :class=>"Img_align") %>
	</div><!-- Box_left end -->
	<div id="Box_right">
		<span class="Breadcrumb"><span class="Breadcrumb"><%=link_to "wellness fit", root_path%></span> : <span class="Breadcrumb"><a href="#">links</a></span></span>
		<h1 class="Title_internal_box_right">Links</h1><br /><br />
		<p class="Text_internal_box_right"><br />
			<a href="http://www.saude.gov.br">www.saude.gov.br</a><br />
			<a href="http://www.mte.gov.br">www.mte.gov.br</a><br />
			<a href="http://periodicos.capes.gov.br">periodicos.capes.gov.br</a><br />
			<a href="http://www.agitasp.com.br>www.agitasp.com.br</a><br />
			<a href="http://anamt.org.br">anamt.org.br</a><br />
			<a href="http://www.ismabrasil.com.br">www.ismabrasil.com.br</a><br />
			<a href="http://www.emforma.com.br">www.emforma.com.br</a><br />
			<a href="http://www.abqv.org.br">www.abqv.org.br</a><br />
		</p>
		<br /><br />

	</div><!-- Box_right end -->
	<div class="clear"></div>
</div><!-- Content end -->
