<html>
<head>
<title>NOVA MENSAGEM</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<p>Nome: <%=@Nome%></p><br />
<p>E-mail: <%=@Email%></p><br />
<p>Telefone: <%=@Telefone%></p><br />
<p>Mensagem: <br />
<%=@Msg%> </p>
<br />
<br />
</body>
</html>