<% title "Módulo de Status" %>

<h1>Módulo de Status</h1><br />
<br />
<p>Verifique se as informações abaixo estão corretas.</p><br />
<br />

<p>
  <strong>Nome:</strong>
  <%= @status_presence.name %>
</p>
<p>
  <strong>Abreviação:</strong>
  <%= @status_presence.abbreviation %>
</p>
<br />
<br />
<br />
<p>
	<%= submit_tag "Voltar",:type=>"button",:onclick=>"window.open('"+admin_status_presences_path()+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>
