<%content_for :title do%>
	Sobre Nós :: WellnessFit – O Bem estar em sua melhor forma | Ginástica Laboral e Fisioterapia Corporativa
<%end%>
<%content_for :head do %>
	<%#= stylesheet_link_tag "cases" %>
	<%#=javascript_include_tag "showcases.js"%>
<%end%>
<div id="Content">
	<div id="Box_left">
		<%=image_tag ("img_awellnesfit.png", :width=>"243", :height=>"479", :class=>"Img_align") %>
	</div><!-- Box_left end -->
	<div id="Box_right">
		<span class="Breadcrumb"><span class="Breadcrumb"><%=link_to "wellness fit", root_path%></span> : <span class="Breadcrumb"><a href="#">sobre nós</a></span></span>
		<h1 class="Title_internal_box_right">A Wellness Fit</h1><br />
		<p class="Text_internal_box_right">
			WF é uma empresa provedora de bens e serviços composta por uma equipe de profissionais qualificados, com o compromisso de oferecer o que há de melhor e mais moderno na gestão de serviços para proporcionar a qualidade de vida, bem-estar e lazer.
			A equipe WF é especializada em implantar e aprimorar o atendimento promovendo ações que visem a proteção da saúde e integridade física do trabalhador, sempre com a preocupação de atender às necessidades das empresas que praticam a responsabilidade social.
			Montamos uma proposta diferenciada para sua empresa com o objetivo de mostrar a você e a seus colaboradores formas práticas para se manter uma "VIDA MAIS SAUDÁVEL".
		</p>
	</div><!-- Box_right end -->
	<div class="clear"></div>
</div><!-- Content end -->
