<%content_for :title do%>
	Ginástica Laboral
<%end%>
<%content_for :head do %>
	<%#= stylesheet_link_tag "cases" %>
	<%#=javascript_include_tag "showcases.js"%>
<%end%>
<div id="Content">
	<div id="Box_left">
		<%=image_tag ("img_ginasticalaboral.png", :class=>"Img_align") %>
	</div><!-- Box_left end -->
	<div id="Box_right">
		<span class="Breadcrumb"><span class="Breadcrumb"><a href="#">wellness fit</a></span> : <span class="Breadcrumb"><a href="#">ginástica laboral</a></span></span>
		<h1 class="Title_internal_box_right">Ginástica Laboral</h1><br />
		<p class="Text_internal_box_right">
			Nosso programa de ginástica laboral profissional procura atender bem ao trabalhador, motivo de nossos esforços, e também produzir respostas satisfatórias à empresa contratante. A ginástica laboral tem demonstrado ser eficaz no combate ao estresse físico e mental, melhorando a qualidade de vida do trabalhador. Por conta disso, diversas empresas têm investido na adequação dos ambientes de trabalho e na implantação de programas de ginástica laboral.
Dependendo da necessidade do setor, a ginástica precisará ser preparatória, compensatória ou relaxante, ou até mesmo uma combinação entre estes tipos. A ginástica laboral compreende exercícios específicos aplicados e realizados no próprio local de trabalho, durante o expediente, atuando de forma preventiva. 
As aulas têm duração média de 7 a 10 minutos, não causam fadiga ou sudorese e são ministradas por profissionais preparados e supervisionados.
		</p>
		<%=image_tag ("img_internal_laboral.png", :class=>"img_laboral") %>
	</div><!-- Box_right end -->
	<div class="clear"></div>
</div><!-- Content end -->